<manifest package="com.liuwei.android.upnpcast.renderer"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <activity
            android:name="com.liuwei.android.upnpcast.renderer.player.NLCastVideoPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/CastVideoPlayerTheme" />

        <activity
            android:name="com.liuwei.android.upnpcast.renderer.player.NLCastVideoPlayerLeanbackActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/CastVideoPlayerTheme_Leanback" />

        <!--service-->
        <service android:name="com.liuwei.android.upnpcast.renderer.NLUpnpRendererService" />

        <service android:name="com.liuwei.android.upnpcast.renderer.KeepLiveInnerService" />

        <service
            android:name="com.liuwei.android.upnpcast.renderer.KeepLiveJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--receiver-->
        <receiver android:name="com.liuwei.android.upnpcast.renderer.receiver.CastServiceKeepReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
