<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.cast.dlna.demo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--dlna cast-->
        <activity
            android:name="com.android.cast.dlna.demo.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DetailActivity" />

        <activity
            android:name="com.android.cast.dlna.demo.light.LightActivity"
            android:configChanges="orientation" />

        <activity
            android:name="com.android.cast.dlna.demo.browser.BrowserActivity"
            android:configChanges="orientation" />

        <service android:name="com.android.cast.dlna.DLNACastService" />

    </application>

</manifest>